.gradient-button {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  border-radius: 5px;
  padding: 7px 14px;
  font-size: 16px;
  margin: 0 0 0 5px;
  float: right;
}

.gradient-button-login {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  border-radius: 5px;
  padding: 7px 14px;
  font-size: 16px;
  margin: 5px 0 0 5px;
}

.textarea {
  resize: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.textarea-login {
  resize: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  padding: 7px 14px;
  margin: 5px 5px 0 5px;
}

.gradient-button:hover {
  background: linear-gradient(45deg, #3f2b96, #a8c0ff);
}

.sender {
  width: 360px;
  height: 20px;
  background-color: #FFFFFF;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
}

.receiver {
  width: 360px;
  height: 300px;
  background-color: #FFFFFF;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
}

.logout-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 전체 컨테이너 스타일 */
.container {
  background: linear-gradient(#4A90E2, #C5D3FE);
  /*background-color: #C5D3FE;*/
  /* 전체 배경색 */
  min-height: 100vh;
  /* 최소 높이 */
  display: flex;
  flex-direction: column;
  /* 수직 정렬 */
}

.container-login {
  background: linear-gradient(#4A90E2, #C5D3FE);
  min-height: 100vh;
  /* 최소 높이 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 수평 중앙 정렬 */
  max-width: 1200px;
  /* 최대 너비 설정 */
  margin: 0 auto;
  /* 좌우 중앙 정렬 */
  padding: 20px;
  /* 양쪽에 여백 추가 */
  box-sizing: border-box;
}

.login-box {
  background-color: #ffffff;
  /* 박스 배경 색상 */
  padding: 40px;
  /* 내부 여백 */
  border-radius: 8px;
  /* 모서리 둥글게 */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /* 그림자 */
  width: 100%;
  max-width: 300px;
  /* 최대 너비 */
  min-height: 300px;
  /* 최소 높이 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 세로 중앙 정렬 */
  align-items: center;
  /* 가로 중앙 정렬 */
  text-align: center;
}

/* 헤더 스타일 */
.header {
  /*background-color: #4A90E2;*/
  /* 헤더 배경색 */
  color: #FFF;
  padding: 10px 20px;
  text-align: left;
}

/* 메인 영역 스타일 */
.main {
  display: flex;
  /* 내부 요소들을 가로로 정렬 */
  gap: 50px;
  padding: 20px;
  /* 패딩 추가 */
  flex: 1;
  /* 가용 공간을 차지하도록 설정 */
}

/* 메뉴와 사이드바 스타일 */
.menu {
  display: flex;
  /* 내부 요소들을 가로로 정렬 */
  gap: 20px;
  padding: 20px;
  /* 패딩 추가 */
  flex: 1;
  /* 가용 공간을 차지하도록 설정 */
}

.sidebar {
  background-color: #FFFFFF;
  /* 사이드바 배경색 */
  width: 100px;
  /* 사이드바 너비 */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* 그림자 효과 추가 */
}

.menu-item {
  padding: 10px 0;
  cursor: pointer;
  /* 마우스 포인터 커서 효과 */
}

/* 풋터 스타일 */
.footer {
  /*background-color: #C5D3FE;*/
  /* 풋터 배경색 */
  color: #FFF;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
  /* 풋터를 아래로 고정 */
}

.send-button {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  border-radius: 5px;
  padding: 7px 14px;
  font-size: 16px;
  margin: 0 0 0 5px;
  float: right;
}

.send-button:hover {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
}